body {
    /* The image used */
    background-image: url(../../spritesheet/background/Space.png);

    /* Full height */
    height: 1000px;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    /* Center and scale the image nicely */
    background-repeat: repeat;
    background-size: cover;
}

.div_backgrndimg {
    background-repeat: repeat-y;
    background-image: url(../../spritesheet/background/earth.png);
    width: 200px;
}